@use "./mixins" as *;

.sec-projects {
    @include margin-layout;
    
    .section-title {
        margin-bottom: 1rem;
        overflow: hidden;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }

        .line-section-title {
            display: flex;
        }
    }

    .projects-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 1rem;
        }

        .project {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: 768px) {
                width: 50vw;
            }

            .video-container {
                width: 100%;
                overflow: hidden;
                

                video {
                    width: 100%;
                    height: auto;
                    transform: scale(1.02);
                }
            }

            .project-info {
                font-size: .8rem;

                h3 {
                    margin: .8rem 0 .8rem 0 ;
                }

                a {
                    font-size: .8rem;
                    text-transform: none;
                }
            }
        }
    }
}