@use "./mixins" as *;

.sec-projects {
    @include margin-layout;

    margin-top: 4rem;

    @media (min-width: 768px) {
        margin-top: 6rem;
    }
    
    .section-title {
        margin-bottom: 1rem;
        overflow: hidden;

        @media (min-width: 768px) {
            margin-bottom: 4rem;
        }

        .line-section-title {
            display: flex;
        }
    }

    .projects-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        row-gap: 4rem;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 1rem;
            row-gap: 4rem;
        }

        .project {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media (min-width: 768px) {
                width: calc(50vw - 2.5rem);
            }

            .img-container {
                width: 100%;
                overflow: hidden;
                display: flex;
                

                img {
                    width: 100%;
                    height: auto;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                }
            }

            .project-info {
                font-size: .8rem;

                h3 {
                    margin: .8rem 0 .8rem 0 ;
                }

                a {
                    font-size: .8rem;
                    text-transform: none;
                }
            }
        }
    }
}